.wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-attachment: fixed;
  /* Additional styles specific to this container */
}
